@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
}

.left-bar {
    position: relative;
    width: 40%;
    height: 100%;
    background-image: url(./images/fadya-azhary-5KS7T3Gs3CA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merienda', sans-serif;
}

.title-container {
    position: absolute;
    top: 16%;
    width: 100%;
    height: 160px;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url(./images/sushi-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

.picture-credit {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 2%;
}

.right-bar {
    width: 60%;
    background-color: rgb(234, 234, 234);
    font-family: 'Roboto', sans-serif, Arial;
}

.description {
    margin-top: 10%;
    margin-left: 5%;
    width: 75%;
    font-size: 1.6rem;
}

span {
    font-style: italic;
}

.form-container {
    font-size: 1.7rem;
    padding: 3% 0 3% 5%;
    margin-top: 3%;
    background-color: white;
    box-shadow: 0 5px 10px 3px rgb(182, 182, 182);
}

.row {
    display: flex;
    gap: 20px;
    margin-top: 2%;
    font-size: 1rem;
}

label {
    display: block;
}

input {
    padding: 5px 8px;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
}

.error {
    padding: 3% 0;
    font-size: .7rem;
    color: red;
}

.create-account {
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 15px;
    border: 0;
    background-color: rgb(78, 117, 78);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 1px 5px 6px 1px rgb(182, 182, 182);   
}

.have-account {
    margin-left: 5%;
    margin-top: 3%;
    font-size: 1.2rem;
}

.have-account a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(78, 117, 78);
}

.picture-credit a {
    color: white;
}

.have-account a:visited {
    color: rgb(78, 117, 78);
}

.have-account a:hover {
    transition-duration: 0.2s;
    color: rgb(91, 145, 91);
}

a:visited {
    color: white;
}

input:focus {
    outline: 0;
    border: 1px solid rgb(102, 173, 249);
    box-shadow: 1px 2px 5px rgb(182, 182, 182); 
}

input:invalid {
    outline: 0;
    border: 1px solid red;
}

.create-account:hover {
    transition-duration: 0.2s;
    background-color: rgb(91, 145, 91);
}
